.dropdown {
	position: fixed;
	background: #252525;
	overflow-x: hidden;
	max-width: 500px;
	width: 100%;
	height: 0;
	right: 0;
	opacity: 0;
	transition: all 0.3s;
}
.dropdown--open {
	opacity: 1;
	height: calc(100% - 64px);
}
.dropdown--close {
	opacity: 0;
	height: 0;
}

.children {
	opacity: 1;
	transition: opacity 0.2s;
	max-width: 400px;
	margin: auto;
}
.children--open {
	opacity: 1;
}
.children--close {
	opacity: 0;
}
