.tag {
	background-color: #ff9900;
	text-transform: uppercase;
	color: rgba($color: #000000, $alpha: 0.6);
	font-size: 0.6875rem;
	padding: 0.266667rem 0.5rem;
	font-weight: 700;
	margin-right: 0.4em;
	margin-bottom: 0.4em;
	white-space: nowrap;
  display: inline-block;
}

.tag-genre {
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #ffffff;
	font-size: 0.625rem;
}

.tag-culture {
	background: #d500f9;
}

.tag-family {
  background: #34ffcc;
}
