.bg-header {
	background: rgba($color: #000000, $alpha: 0.9);
}

.state-name {
	border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
	margin: 1em 0 .5em 0;
	cursor: default;
}

.city-name {
	padding: .5em 0;
	color: #25b8ff;
	cursor: pointer;
}

.movie {
	cursor: pointer;
	transform: scale(1.0);
	transition: transform .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

	&:hover {
		transform: scale(1.1);
	}
}
