.card {
	cursor: pointer;
	transform: scale(1);
	transition: transform .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

	&:hover {
		transform: scale(1.1);
	}
}
.card-img-overlay {
	top: unset;
	padding: 0.25rem 1.25rem;
	background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .85) 100%);
}
