.content {
	position: relative;
	padding: 6rem 0 6rem 0;

	hr {
		width: 100%;
		border-top: 1px solid rgba(255,255,255,.1);
		margin: 0;
		margin-top: 1rem;
	}

	.title {
		position: relative;
		color: #ff7300;

		&:before {
			content: '';
			position: absolute;
			height: 1px;
			width: 5.5rem;
			background: #ff7300;
			bottom: -1rem;
		}
	}
}

.loading {
	margin: auto;
	margin-top: 5em;
	height: 24px;
	width: 24px;
	border-radius: 100%;
	border: 3px solid rgba($color: #ffffff, $alpha: 0.2);
	border-top-color: #ff7300;
	animation: anim 1s linear infinite;
}

@keyframes anim {
	to {
		transform: rotate(360deg)
	}
}
